<div class="inner-page">
		<h1>ABOUT</h1>
	</div>
	<!-- About-Us -->
	<div class="about-us">
		<div class="container">
			<div class="col-md-6 col-sm-6 about-us-image">
				<img src="assets/about-us.jpg" alt="Excel Industries">
			</div>
			<div class="col-md-6 col-sm-6 about-us-info">
				<div class="about-us-info-text">
					<h2 style="color:#4c7a78;;">About Us</h2>
					<p style="font-size:12px;">
						  Our <span style="font-weight:bold;">LUCKY BAG & SWALLOW PLASTIC TRADING COMPANY LIMITED</span> was founded in 1992 and located in 8 acres wide land with over 1000 well-trained employees. Our company become an ISO 9001:2008 achieved company in the beginning of 2016.<br/>
           				  With the strong relationship with the local distributors and oversea raw material suppliers, we are producing and distributing nearly 1000MT/month of HDPE, LDPE, LLDPE, PP bags all over Myanmar with the two different brand names "LUCKY BAG" and "SWALLOW".
           				  <br/>
			            Starting from 2012, we started to export our products to Japan & EU and now the capacity has reach to nearly 100MT/month.<br/>
						We are ready to supply your need providing the best services with over 24 years of experience.
					</p>
				</div>
				
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //About-Us -->

	<!-- Why-Us -->
	<div class="why-us">
		<div class="container">
			<div class="col-md-4 col-sm-4 why-us-grid">
				<h3>Who We Are</h3>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
				<p class="bottom"> Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature.</p>
			</div>
			<div class="col-md-4 col-sm-4 why-us-grid">
				<h3>Why Choose Us</h3>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
				<ul>
					<li> > Lorem Ipsum Dolor Sit Amet</li>
					<li> > Lorem Ipsum Dolor Sit Amet</li>
					<li> > Lorem Ipsum Dolor Sit Amet</li>
					<li> > Lorem Ipsum Dolor Sit Amet</li>
					<li> > Lorem Ipsum Dolor Sit Amet</li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-4 why-us-grid">
				<img src="assets/why-us.jpg" alt="Excel Industries">
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //Why-Us -->



	<!-- Map-iFrame -->
	<div class="map">
		<h3 style="color:#4c7a78;">Head Quarters</h3>
		<iframe src="" allowfullscreen></iframe>
	</div>
	<!-- //Map-iFrame -->

	<!-- Footer -->
