
	<!-- //Header -->

	<!-- Inner-Page-Content -->
	<div class="inner-page">
		<h1>CONTACT</h1>
	</div>
	<!-- //Inner-Page-Content -->

	<!-- Contact -->
	<div class="contact">
		<div class="container">
			<form class="contact_form">

				<div class="message">
					<div class="col-md-6 col-sm-6 grid_6 c1">
						<input type="text" class="text" placeholder="Name" required="" >
						<input type="text" class="text" placeholder="Email" required="" >
						<input type="text" class="text" placeholder="Phone" required="" >
					</div>

					<div class="col-md-6 col-sm-6 grid_6 c1">
						<textarea placeholder="Message" required=""></textarea>
					</div>
					<div class="clearfix"> </div>
				</div>

				<input type="submit" class="more_btn" value="Send Message">
			</form>
		</div>
	</div>
	<!-- //Contact -->

	<!-- Map-iFrame -->
	<div class="map">
		<h2>Location</h2>
		<iframe src="" allowfullscreen></iframe>
	</div>
	<!-- //Map-iFrame -->

