

	<!-- Inner-Page-Content -->
	<div class="inner-page">
		<h1>PRODUCTS</h1>
	</div>
	<!-- //Inner-Page-Content -->

	<!-- Projects -->
	<div class="projects">

		<h2>Some successful products manufacture by us</h2>
			    <% @main_products.each do |main_product| %>
					<div class="project-1">
						<div class="container">
							<div class="col-md-4 col-sm-6 project-image">
								<%= image_tag main_product.avatar.url(:medium), :id=>"product_img", :alt=>"products" %>
							</div>
							<div class="col-md-8 col-sm-6 project-info">
								<h4 style="font-size:16px;"><%= main_product.title %></h4>
								<p><%= main_product.description %></p>
							</div>
							<div class="clearfix"></div>					
						</div>
					</div>
				<% end %>



			

	</div>
	<!-- //Projects -->

	<!-- Team -->
	<div class="team">

		<h3>TEAM</h3>

		<div class="container">
			<div class="col-md-4" >
                <img src="assets/team-1.jpg" alt="Excel Industries" />
                <div class="mask">
                    <h4>Name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem Ipsum is not simply random text.</p>
					<ul class="social">
			            <li><a href="#" class="facebook" title="Go to Our Facebook Page"></a></li>
			            <li><a href="#" class="twitter" title="Go to Our Twitter Account"></a></li>
			            <li><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></li>
			        </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4" >
                <img src="assets/team-2.jpg" alt="Excel Industries" />
                <div class="mask">
                    <h4>Name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem Ipsum is not simply random text.</p>
					<ul class="social">
			            <li><a href="#" class="facebook" title="Go to Our Facebook Page"></a></li>
			            <li><a href="#" class="twitter" title="Go to Our Twitter Account"></a></li>
			            <li><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></li>
			        </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4" >
                <img src="assets/team-3.jpg" alt="Excel Industries" />
                <div class="mask">
					<h4>Name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem Ipsum is not simply random text.</p>
					<ul class="social">
			            <li><a href="#" class="facebook" title="Go to Our Facebook Page"></a></li>
			            <li><a href="#" class="twitter" title="Go to Our Twitter Account"></a></li>
			            <li><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></li>
			        </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4" >
                <img src="assets/team-4.jpg" alt="Excel Industries" />
                <div class="mask">
                    <h4>Name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem Ipsum is not simply random text.</p>
					<ul class="social">
			            <li><a href="#" class="facebook" title="Go to Our Facebook Page"></a></li>
			            <li><a href="#" class="twitter" title="Go to Our Twitter Account"></a></li>
			            <li><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></li>
			        </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4" >
                <img src="assets/team-5.jpg" alt="Excel Industries" />
                <div class="mask">
                    <h4>Name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem Ipsum is not simply random text.</p>
					<ul class="social">
			            <li><a href="#" class="facebook" title="Go to Our Facebook Page"></a></li>
			            <li><a href="#" class="twitter" title="Go to Our Twitter Account"></a></li>
			            <li><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></li>
			        </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-4" >
                <img src="assets/team-6.jpg" alt="Excel Industries" />
                <div class="mask">
                     <h4>Name</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem Ipsum is not simply random text.</p>
					<ul class="social">
			            <li><a href="#" class="facebook" title="Go to Our Facebook Page"></a></li>
			            <li><a href="#" class="twitter" title="Go to Our Twitter Account"></a></li>
			            <li><a href="#" class="googleplus" title="Go to Our Google Plus Account"></a></li>
			        </ul>
                </div>
            </div>
		</div>
	</div>
	<!-- //Team -->
